/* .loader-screen {
  height: 100vh;
  width: 100%;
  background-color: #185519;
  background-image: url('/images/logo.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
  overflow: hidden;
}


.loader-bg {
  position: relative;
  height: 100%;
  width: 100%;
}

.loader-top-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  border-radius: 50%;
}

.loader-bottom-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 180px;
  border-radius: 50%;
}

.loader-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Irish Grover", cursive;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
} */
