/* .loader-page {
  height: 100vh;
 background-image: url('../public/images/logo.png');

}

.loader-logo {
  width: 150px;
}

.loader-text {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.onboard-page {
  min-height: 100vh;
  padding: 2rem 1rem;
  background: linear-gradient(to bottom, #e8f5e9 50%, white 50%);
}

.onboard-img {
  width: 80%;
  max-width: 300px;
  margin-top: 50px;
  border-radius: 50%;
}

.dot {
  width: 10px;
  height: 10px;
  background: #cfcfcf;
  border-radius: 50%;
  margin: 0 5px;
  display: inline-block;
}

.dot.active {
  background: #198754;
}
 */
